!!!
%html
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title Webarch - Responsive Admin Dashboard
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    / BEGIN PLUGIN CSS
    %link{href: "assets/plugins/pace/pace-theme-flash.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/jquery-slider/css/jquery.sidr.light.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    / END PLUGIN CSS
    / BEGIN CORE CSS FRAMEWORK
    %link{href: "assets/plugins/boostrapv3/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/boostrapv3/css/bootstrap-theme.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/plugins/font-awesome/css/font-awesome.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/animate.min.css", rel: "stylesheet", type: "text/css"}/
    / END CORE CSS FRAMEWORK
    / BEGIN CSS TEMPLATE
    %link{href: "assets/css/style.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/responsive.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/css/custom-icon-set.css", rel: "stylesheet", type: "text/css"}/
    / END CSS TEMPLATE
  / BEGIN BODY
  %body
    / BEGIN HEADER
    .header.navbar.navbar-inverse
      / BEGIN TOP NAVIGATION BAR
      .navbar-inner
        .header-seperation
          %ul#main-menu-toggle-wrapper.nav.pull-left.notifcation-center{style: "display:none"}
            %li.dropdown
              %a#main-menu-toggle{href: "#main-menu"}
                .iconset.top-menu-toggle-white
          / BEGIN LOGO
          %a{href: "index.html"}
            %img.logo{alt: "", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo2x.png", height: "21", src: "assets/img/logo.png", width: "106"}/
          / END LOGO
          %ul.nav.pull-right.notifcation-center
            %li#header_task_bar.dropdown
              %a.dropdown-toggle.active{"data-toggle" => "", href: "index.html"}
                .iconset.top-home
            %li#header_inbox_bar.dropdown
              %a.dropdown-toggle{href: "email.html"}
                .iconset.top-messages
                %span#msgs-badge.badge 2
            %li#portrait-chat-toggler.dropdown{style: "display:none"}
              %a.chat-menu-toggle{href: "#sidr"}
                .iconset.top-chat-white
        / END RESPONSIVE MENU TOGGLER
        .header-quick-nav
          / BEGIN TOP NAVIGATION MENU
          .pull-left
            %ul.nav.quick-section
              %li.quicklinks
                %a#layout-condensed-toggle{href: "#"}
                  .iconset.top-menu-toggle-dark
            %ul.nav.quick-section
              %li.quicklinks
                %a{href: "#"}
                  .iconset.top-reload
              %li.quicklinks
                %span.h-seperate
              %li.quicklinks
                %a{href: "#"}
                  .iconset.top-tiles
              %li.m-r-10.input-prepend.inside.search-form.no-boarder
                %span.add-on
                  %span.iconset.top-search
                %input.no-boarder{name: "", placeholder: "Search Dashboard", style: "width:250px;", type: "text"}/
          / END TOP NAVIGATION MENU
          / BEGIN CHAT TOGGLER
          .pull-right
            .chat-toggler
              %a#my-task-list.dropdown-toggle{"data-content" => "", "data-original-title" => "Notifications", "data-placement" => "bottom", "data-toggle" => "dropdown", href: "#"}
                .user-details
                  .username
                    %span.badge.badge-important 3
                    John
                    %span.bold Smith
                .iconset.top-down-arrow
              #notification-list{style: "display:none"}
                %div{style: "width:300px"}
                  .notification-messages.info
                    .user-profile
                      %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
                    .message-wrapper
                      .heading
                        David Nester - Commented on your wall
                      .description
                        Meeting postponed to tomorrow
                      .date.pull-left
                        A min ago
                    .clearfix
                  .notification-messages.danger
                    .iconholder
                      %i.icon-warning-sign
                    .message-wrapper
                      .heading
                        Server load limited
                      .description
                        Database server has reached its daily capicity
                      .date.pull-left
                        2 mins ago
                    .clearfix
                  .notification-messages.success
                    .user-profile
                      %img{alt: "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", height: "35", src: "assets/img/profiles/h.jpg", width: "35"}/
                    .message-wrapper
                      .heading
                        You haveve got 150 messages
                      .description
                        150 newly unread messages in your inbox
                      .date.pull-left
                        An hour ago
                    .clearfix
              .profile-pic
                %img{alt: "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", height: "35", src: "assets/img/profiles/avatar_small.jpg", width: "35"}/
            %ul.nav.quick-section
              %li.quicklinks
                %a#user-options.dropdown-toggle.pull-right{"data-toggle" => "dropdown", href: "#"}
                  .iconset.top-settings-dark
                %ul.dropdown-menu.pull-right{"aria-labelledby" => "user-options", role: "menu"}
                  %li
                    %a{href: "user-profile.html"} My Account
                  %li
                    %a{href: "calender.html"} My Calendar
                  %li
                    %a{href: "email.html"}
                      My Inbox  
                      %span.badge.badge-important.animated.bounceIn 2
                  %li.divider
                  %li
                    %a{href: "login.html"}
                      %i.fa.fa-power-off>
                        Log Out
              %li.quicklinks
                %span.h-seperate
              %li.quicklinks
                %a#chat-menu-toggle.chat-menu-toggle{href: "#sidr"}
                  .iconset.top-chat-dark
                    %span#chat-message-count.badge.badge-important.hide 1
                .simple-chat-popup.chat-menu-toggle.hide
                  .simple-chat-popup-arrow
                  .simple-chat-popup-inner
                    %div{style: "width:100px"}
                      .semi-bold David Nester
                      .message Hey you there
          / END CHAT TOGGLER
        / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER
    / BEGIN CONTAINER
    .page-container.row
      / BEGIN SIDEBAR
      #main-menu.page-sidebar
        / BEGIN MINI-PROFILE
        .user-info-wrapper
          .profile-wrapper
            %img{alt: "", "data-src" => "assets/img/profiles/avatar.jpg", "data-src-retina" => "assets/img/profiles/avatar2x.jpg", height: "69", src: "assets/img/profiles/avatar.jpg", width: "69"}/
          .user-info
            .greeting Welcome
            .username
              John
              %span.semi-bold Smith
            .status
              Status
              %a{href: "#"}
                .status-icon.green>
                Online
        / END MINI-PROFILE
        / BEGIN SIDEBAR MENU
        %p.menu-title
          BROWSE
          %span.pull-right
            %a{href: "javascript:;"}
              %i.fa.fa-refresh
        %ul
          %li.start.active
            %a{href: "index.html"}
              %i.icon-custom-home
              %span.title Dashboard
              %span.selected
              %span.badge.badge-important.pull-right 5
          %li
            %a{href: "email.html"}
              %i.fa.fa-envelope
              %span.title Email
              %span.badge.badge-disable.pull-right 203
          %li
            %a{href: "../frontend/index.html"}
              %i.fa.fa-flag
              %span.title Frontend
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-ui
              %span.title UI Elements
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "typography.html"} Typography
              %li
                %a{href: "messages_notifications.html"} Messages &amp; Notifications
              %li
                %a{href: "icons.html"} Icons
              %li
                %a{href: "buttons.html"} Buttons
              %li
                %a{href: "tabs_accordian.html"} Tabs &amp; Accordions
              %li
                %a{href: "sliders.html"} Sliders
              %li
                %a{href: "group_list.html"} Group list
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-form
              %span.title Forms
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "form_elements.html"} Form Elements
              %li
                %a{href: "form_validations.html"} Form Validations
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-portlets
              %span.title Grids
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "grids_simple.html"} Simple Grids
              %li
                %a{href: "grids_draggable.html"} Draggable Grids
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-thumb
              %span.title Tables
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "tables.html"} Basic Tables
              %li
                %a{href: "datatables.html"} Data Tables
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-map
              %span.title Maps
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "google_map.html"} Google Maps
              %li
                %a{href: "vector_map.html"} Vector Maps
          %li
            %a{href: "charts.html"}
              %i.icon-custom-chart
              %span.title Charts
          %li
            %a{href: "javascript:;"}
              %i.icon-custom-extra
              %span.title Extra
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "user-profile.html"} User Profile
              %li
                %a{href: "time_line.html"} Time line
              %li
                %a{href: "support_ticket.html"} Support Ticket
              %li
                %a{href: "gallery.html"} Gallery
              %li
                %a{href: "calender.html"} Calendar
              %li
                %a{href: "search_results.html"} Search Results
              %li
                %a{href: "invoice.html"} Invoice
              %li
                %a{href: "404.html"} 404 Page
              %li
                %a{href: "500.html"} 500 Page
              %li
                %a{href: "blank_template.html"} Blank Page
              %li
                %a{href: "login.html"} Login
              %li
                %a{href: "login_v2.html"} Login v2
              %li
                %a{href: "lockscreen.html"} Lockscreen
          %li
            %a{href: "javascript:;"}
              %i.fa.fa-folder-open
              %span.title Menu Levels
              %span.arrow
            %ul.sub-menu
              %li
                %a{href: "javascript:;"} Level 1
              %li
                %a{href: "javascript:;"}
                  %span.title Level 2
                  %span.arrow
                %ul.sub-menu
                  %li
                    %a{href: "javascript:;"} Sub Menu
                  %li
                    %a{href: "ujavascript:;"} Sub Menu
          %li#more-widgets.hidden-lg.hidden-md.hidden-xs
            %a{href: "javascript:;"}
              %i.fa.fa-plus
            %ul.sub-menu
              %li.side-bar-widgets
                %p.menu-title
                  FOLDER
                  %span.pull-right
                    %a.create-folder{href: "#"}
                      %i.icon-plus
                %ul.folders
                  %li
                    %a{href: "#"}
                      .status-icon.green
                      My quick tasks
                  %li
                    %a{href: "#"}
                      .status-icon.red
                      To do list
                  %li
                    %a{href: "#"}
                      .status-icon.blue
                      Projects
                  %li.folder-input{style: "display:none"}
                    %input#folder-name.no-boarder.folder-name{name: "", placeholder: "Name of folder", type: "text"}/
                %p.menu-title PROJECTS
                .status-widget
                  .status-widget-wrapper
                    .title
                      Freelancer
                      %a.remove-widget{href: "#"}
                        %i.icon-custom-cross
                    %p Redesign home page
                .status-widget
                  .status-widget-wrapper
                    .title
                      envato
                      %a.remove-widget{href: "#"}
                        %i.icon-custom-cross
                    %p Statistical report
        .side-bar-widgets
          %p.menu-title
            FOLDER
            %span.pull-right
              %a.create-folder{href: "#"}
                %i.fa.fa-plus
          %ul.folders
            %li
              %a{href: "#"}
                .status-icon.green
                My quick tasks
            %li
              %a{href: "#"}
                .status-icon.red
                To do list
            %li
              %a{href: "#"}
                .status-icon.blue
                Projects
            %li.folder-input{style: "display:none"}
              %input.no-boarder.folder-name{name: "", placeholder: "Name of folder", type: "text"}/
          %p.menu-title PROJECTS
          .status-widget
            .status-widget-wrapper
              .title
                Freelancer
                %a.remove-widget{href: "#"}
                  %i.icon-custom-cross
              %p Redesign home page
          .status-widget
            .status-widget-wrapper
              .title
                envato
                %a.remove-widget{href: "#"}
                  %i.icon-custom-cross
              %p Statistical report
        %a.scrollup{href: "#"} Scroll
        .clearfix
        / END SIDEBAR MENU
      .footer-widget
        .progress.transparent.progress-small.no-radius.no-margin
          .progress-bar.progress-bar-success.animate-progress-bar{"data-percentage" => "79%", style: "width: 79%;"}
        .pull-right
          .details-status
            %span.animate-number{"data-animation-duration" => "560", "data-value" => "86"}> 86
            \%
          %a{href: "lockscreen.html"}
            %i.fa.fa-power-off
      / END SIDEBAR
      / BEGIN PAGE CONTAINER
      .page-content
        / BEGIN MODEL
        #portlet-config.modal.hide
          .modal-header
            %button.close{"data-dismiss" => "modal", type: "button"}
            %h3 Widget Settings
          .modal-body Widget settings form goes here
        / END MODEL
        .clearfix
        .content
          %ul.breadcrumb
            %li
              %p YOU ARE HERE
            %li
              %a.active{href: "#"} Messages &amp; Notifications
          .page-title
            %i.icon-custom-left
            %h3
              Alerts -
              %span.semi-bold Messages &amp; Notifications
          .row
            .col-md-12
              .grid.simple
                .grid-title.no-border
                  %h4
                    Message
                    %span.semi-bold boxes
                  .tools
                    %a.collapse{href: "javascript:;"}
                    %a.config{"data-toggle" => "modal", href: "#grid-config"}
                    %a.reload{href: "javascript:;"}
                    %a.remove{href: "javascript:;"}
                .grid-body.no-border
                  .row-fluid
                    %h3
                      Simple
                      %span.semi-bold Alert
                    %p Alerts help to gain user attention and give feedback for proccessed task. These alerts are built with different background and borders to show
                    %br/
                    .alert
                      %button.close{"data-dismiss" => "alert"}
                      Warning: Your monthly traffic is reaching limit.
                    .alert.alert-success
                      %button.close{"data-dismiss" => "alert"}
                      Success: The
                      %a.link{href: "#"} page
                      has been added.
                    .alert.alert-info
                      %button.close{"data-dismiss" => "alert"}
                      Info: You have
                      %a.link{href: "#"} 198
                      unread messages.
                    .alert.alert-error
                      %button.close{"data-dismiss" => "alert"}
                      Danger: The daily
                      %a.link{href: "#"} cronjob
                      has failed.
                      %button.btn.btn-danger.btn-sm.btn-small.pull-right{type: "button"} Take Action
                    %div{style: "display:none"}
                      %p Animate your message box to again more attention from user
                      #animateAlert.alert{style: "display:none"}
                        %button.close{"data-dismiss" => "alert"}
                        %a.link{href: "#"} Danger:
                        Your monthly traffic is reaching limit.
                      %button#btnFlip.btn.btn-white.btn-cons{type: "button"} Flip
                      %button#btnShake.btn.btn-success.btn-cons{type: "button"} Shake
                      %button#btnBouce.btn.btn-white.btn-cons{type: "button"} bouce
          .row
            .col-md-7
              .grid.simple
                .grid-title.no-border
                  %h4
                    Message
                    %span.semi-bold boxes
                  .tools
                    %a.collapse{href: "javascript:;"}
                    %a.config{"data-toggle" => "modal", href: "#grid-config"}
                    %a.reload{href: "javascript:;"}
                    %a.remove{href: "javascript:;"}
                .grid-body.no-border
                  .row-fluid
                    %h3
                      Descriptive
                      %span.semi-bold Alerts
                    %p
                      Need more description space? Change classes to
                      %code alert-error
                      %code.text-success alert-success
                      %code.text-info alert-info
                      %code.text-warning alert-warning
                      at ease with different customized color set.
                    %br/
                    .alert.alert-block.alert-error.fade.in
                      %button.close{"data-dismiss" => "alert", type: "button"}
                      %h4.alert-heading
                        %i.icon-warning-sign
                        Error!
                      %p
                        Error-handling routine in
                        %a.link{href: "#"} x208888
                        and specifies the location of the routine within a procedure
                      .button-set
                        %button.btn.btn-danger.btn-cons{type: "button"} Do this
                        %button.btn.btn-white.btn-cons{type: "button"} Or this
            .col-md-5
              .grid.simple
                .grid-title.no-border
                  %h4
                    Labels
                    %span.semi-bold &amp; badge
                  .tools
                    %a.collapse{href: "javascript:;"}
                    %a.config{"data-toggle" => "modal", href: "#grid-config"}
                    %a.reload{href: "javascript:;"}
                    %a.remove{href: "javascript:;"}
                .grid-body.no-border
                  .row-fluid
                    %h3
                      Simple
                      %span.semi-bold Labels
                    %p
                      A label, with optional background colors. Use the
                      = succeed "class" do
                        %code label
                    %br/
                    %span.label DEFAULT
                    %span.label.label-success VIEW
                    %span.label.label-warning HOLD
                    %span.label.label-important ALERT
                    %span.label.label-info SUCCESS
                    %span.label.label-inverse SOLD
                    %br/
                    %br/
                    %h4
                      Badge
                      %span.semi-bold Variations
                    %p
                      A Badge, with optional background colors. Use the
                      = succeed "class" do
                        %code badge
                    = succeed "\u{a0}\u{a0}" do
                      %span.badge 2
                    = succeed "\u{a0}\u{a0}" do
                      %span.badge.badge-success 8
                    = succeed "\u{a0}\u{a0}" do
                      %span.badge.badge-warning 12
                    = succeed "\u{a0}\u{a0}" do
                      %span.badge.badge-important 300
                    = succeed "\u{a0}\u{a0}" do
                      %span.badge.badge-info 25
                    = succeed "\u{a0}\u{a0}" do
                      %span.badge.badge-inverse 5
                  %br/
          .row
            .col-md-12
              .grid.simple
                .grid-title.no-border
                  %h4
                    Alerts &amp;
                    %span.semi-bold Notifications
                  .tools
                    %a.collapse{href: "javascript:;"}
                    %a.config{"data-toggle" => "modal", href: "#grid-config"}
                    %a.reload{href: "javascript:;"}
                    %a.remove{href: "javascript:;"}
                .grid-body.no-border
                  .row
                    .col-md-4
                      %h3
                        Tool
                        %span.semi-bold Tips
                      %p Tooltips can be a helpful way to provide information to visitors without creating clutter in a design. Tooltip plugin let’s you transform native tooltip’s into customizable overlays. You can adjust their content, position and appearance.
                      %br/
                      %button.btn.btn-white.tip{"data-toggle" => "tooltip", title: "Up here!", type: "button"} Top
                      %button.btn.btn-white.tip{"data-placement" => "right", "data-toggle" => "tooltip", title: "Hello there!", type: "button"} Right
                      %button.btn.btn-white.tip{"data-placement" => "bottom", "data-toggle" => "tooltip", title: "Look down!", type: "button"} Down
                      %button.btn.btn-white.tip{"data-placement" => "left", "data-toggle" => "tooltip", title: "Over here!", type: "button"} Left
                    .col-md-4
                      %h3
                        Simple
                        %span.semi-bold Popovers
                      %p Add small overlays of content, like those on the iPad, to any element for housing secondary information. Hover over the button to trigger the popover. Requires Tooltip to be included.Four options are available: top, right, bottom, and left aligned.
                      %br/
                      %button#popover.btn.btn-primary{"data-content" => "And here's some amazing content. It's very engaging. right?", "data-original-title" => "A Title", "data-toggle" => "popover", title: "", type: "button"} Click to toggle popover
                    .col-md-4
                      %h3
                        Boostrap
                        %span.semi-bold Modals
                      %p Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults. Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from the top of the page.
                      %br/
                      %button.btn.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"} Launch demo modal
                      / Modal
                      #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
                        .modal-dialog
                          .modal-content
                            .modal-header
                              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                              %br/
                              %i.icon-credit-card.icon-7x
                              %h4#myModalLabel.semi-bold We need your billing info.
                              %p.no-margin You'll be charged $29/Month and get immediate access to new plan
                              %br/
                            .modal-body
                              .row.form-row
                                .col-md-8
                                  %input.form-control{placeholder: "Your Card Number", type: "text"}/
                                .col-md-4
                                  %input.form-control{placeholder: "CVS", type: "text"}/
                              .row.form-row
                                .col-md-12
                                  %input.form-control{placeholder: "Card Holder's Name", type: "text"}/
                              .row.form-row
                                .col-md-6
                                  %input.form-control{placeholder: "Month", type: "text"}/
                                .col-md-6
                                  %input.form-control{placeholder: "Year", type: "text"}/
                            .modal-footer
                              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
                              %button.btn.btn-primary{type: "button"} Save changes
                          / /.modal-content
                        / /.modal-dialog
                      / /.modal
          .row
            .col-md-12
              .grid.simple
                .grid-title.no-border
                  %h4 Progressbars
                  .tools
                    %a.collapse{href: "javascript:;"}
                    %a.config{"data-toggle" => "modal", href: "#grid-config"}
                    %a.reload{href: "javascript:;"}
                    %a.remove{href: "javascript:;"}
                .grid-body.no-border
                  .row
                    .col-md-4
                      %h3
                        Progess bar
                        %span.semi-bold Colors
                      %p Progress bars comes with customized colors and transparent background that would fit any colored widget or portlet
                      %br/
                      .col-md-11
                        .progress
                          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "data-percentage" => "0%", role: "progressbar", style: "width: 80%;"}
                        .progress
                          .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "data-percentage" => "0%", role: "progressbar", style: "width: 60%;"}
                        .progress
                          .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "data-percentage" => "0%", role: "progressbar", style: "width: 40%;"}
                        .progress
                          .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "data-percentage" => "0%", role: "progressbar", style: "width: 20%;"}
                    .col-md-4
                      .col-md-11
                        %h3
                          Progess bar
                          %span.semi-bold Sizes
                        %p We have customized progress bars size to be more elegant and intuitive
                        %br/
                        %p Meet Steve
                        .progress.progress-small
                          .progress-bar.progress-bar-success{"data-percentage" => "0%", style: "width: 45%;"}
                        .progress.progress-small
                          .progress-bar.progress-bar-danger{"data-percentage" => "0%", style: "width: 45%;"}
                        %p Big Progress
                        .progress.progress-success
                          .progress-bar.progress-bar-success{"data-percentage" => "0%", style: "width: 68%;"}
                    .col-md-4
                      .col-md-11
                        %h3
                          Other
                          %span.semi-bold Options
                        %p A cool animation that shows the progress bar is active, these coming in all 4 colours plus all sizes.
                        %br/
                        .progress.progress-striped.active.progress-large
                          .progress-bar.progress-bar-success{"data-percentage" => "0%", style: "width: 45%;"}
                        .progress.progress-striped.active
                          .progress-bar.progress-bar-danger{"data-percentage" => "0%", style: "width: 45%;"}
          / END PAGE
    / BEGIN CHAT
    #sidr.chat-window-wrapper
      #main-chat-wrapper
        #chat-users.chat-window-wrapper.fadeIn
          .chat-header
            .pull-left
              %input{placeholder: "search", type: "text"}/
            .pull-right
              %a{href: "#"}
                .iconset.top-settings-dark
          .side-widget
            .side-widget-title group chats
            .side-widget-content
              #groups-list
                %ul.groups
                  %li
                    %a{href: "#"}
                      .status-icon.green>
                      Office work
                  %li
                    %a{href: "#"}
                      .status-icon.green>
                      Personal vibes
          .side-widget.fadeIn
            .side-widget-title favourites
            #favourites-list
              .side-widget-content
                .user-details-wrapper.active{"data-chat-status" => "online", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "Jane Smith"}
                  .user-profile
                    %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
                  .user-details
                    .user-name
                      Jane Smith
                    .user-more
                      Hello you there?
                  .user-details-status-wrapper
                    %span.badge.badge-important 3
                  .user-details-count-wrapper
                    .status-icon.green
                  .clearfix
                .user-details-wrapper{"data-chat-status" => "busy", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "David Nester"}
                  .user-profile
                    %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                  .user-details
                    .user-name
                      David Nester
                    .user-more
                      Busy, Do not disturb
                  .user-details-status-wrapper
                    .clearfix
                  .user-details-count-wrapper
                    .status-icon.red
                  .clearfix
          .side-widget
            .side-widget-title more friends
            #friends-list.side-widget-content
              .user-details-wrapper{"data-chat-status" => "online", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "Jane Smith"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
                .user-details
                  .user-name
                    Jane Smith
                  .user-more
                    Hello you there?
                .user-details-status-wrapper
                .user-details-count-wrapper
                  .status-icon.green
                .clearfix
              .user-details-wrapper{"data-chat-status" => "busy", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "David Nester"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", height: "35", src: "assets/img/profiles/h.jpg", width: "35"}/
                .user-details
                  .user-name
                    David Nester
                  .user-more
                    Busy, Do not disturb
                .user-details-status-wrapper
                  .clearfix
                .user-details-count-wrapper
                  .status-icon.red
                .clearfix
              .user-details-wrapper{"data-chat-status" => "online", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "Jane Smith"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/c.jpg", "data-src-retina" => "assets/img/profiles/c2x.jpg", height: "35", src: "assets/img/profiles/c.jpg", width: "35"}/
                .user-details
                  .user-name
                    Jane Smith
                  .user-more
                    Hello you there?
                .user-details-status-wrapper
                .user-details-count-wrapper
                  .status-icon.green
                .clearfix
              .user-details-wrapper{"data-chat-status" => "busy", "data-chat-user-pic" => "assets/img/profiles/d.jpg", "data-chat-user-pic-retina" => "assets/img/profiles/d2x.jpg", "data-user-name" => "David Nester"}
                .user-profile
                  %img{alt: "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", height: "35", src: "assets/img/profiles/h.jpg", width: "35"}/
                .user-details
                  .user-name
                    David Nester
                  .user-more
                    Busy, Do not disturb
                .user-details-status-wrapper
                  .clearfix
                .user-details-count-wrapper
                  .status-icon.red
                .clearfix
        #messages-wrapper.chat-window-wrapper.fadeIn{style: "display:none"}
          .chat-header
            .pull-left
              %input{placeholder: "search", type: "text"}/
            .pull-right
              %a{href: "#"}
                .iconset.top-settings-dark
          .clearfix
          .chat-messages-header
            .status.online
            %span.semi-bold Jane Smith(Typing..)
            %a.chat-back{href: "#"}
              %i.icon-custom-cross
          .chat-messages
            .sent_time Yesterday 11:25pm
            .user-details-wrapper
              .user-profile
                %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
              .user-details
                .bubble
                  Hello, You there?
              .clearfix
              .sent_time.off Yesterday 11:25pm
            .user-details-wrapper
              .user-profile
                %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
              .user-details
                .bubble
                  How was the meeting?
              .clearfix
              .sent_time.off Yesterday 11:25pm
            .user-details-wrapper
              .user-profile
                %img{alt: "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", height: "35", src: "assets/img/profiles/d.jpg", width: "35"}/
              .user-details
                .bubble
                  Let me know when you free
              .clearfix
              .sent_time.off Yesterday 11:25pm
            .sent_time Today 11:25pm
            .user-details-wrapper.pull-right
              .user-details
                .bubble.sender
                  Let me know when you free
              .clearfix
              .sent_time.off Sent On Tue, 2:45pm
        .chat-input-wrapper{style: "display:none"}
          %textarea#chat-message-input{placeholder: "Type your message", rows: "1"}
        .clearfix
    / END CHAT
    / END CONTAINER
    / BEGIN CORE JS FRAMEWORK
    %script{src: "assets/plugins/jquery-1.8.3.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/boostrapv3/js/bootstrap.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/breakpoints.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-unveil/jquery.unveil.min.js", type: "text/javascript"}
    / END CORE JS FRAMEWORK
    / BEGIN PAGE LEVEL JS
    %script{src: "assets/plugins/pace/pace.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-block-ui/jqueryblockui.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-slider/jquery.sidr.min.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js", type: "text/javascript"}
    %script{src: "assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js", type: "text/javascript"}
    / END PAGE LEVEL PLUGINS
    / PAGE JS
    %script{src: "assets/js/messages_notifications.js", type: "text/javascript"}
    / BEGIN CORE TEMPLATE JS
    %script{src: "assets/js/core.js", type: "text/javascript"}
    %script{src: "assets/js/chat.js", type: "text/javascript"}
    %script{src: "assets/js/demo.js", type: "text/javascript"}
    / END CORE TEMPLATE JS
